<section id="testimonial">
  <div class="container-title">
    <span class="container-title__top">Their Happy Words 🤗</span>
    <h2 class="section-title">Our Testimonials</h2>
    <p>
      Our testimonials are heartfelt reflections of the nurturing environment we provide, where
      children flourish both academically and emotionally.
    </p>
  </div>

  <div class="testimonial-slider">
    <button class="slider-button" name="sliderPrev" title="slider prev">
      <svg>
        <use xlink:href="/sprites/main-sprite.svg#arrowLeft"></use>
      </svg>
    </button>
    <div class="slider-container">
      <div class="slider__item testimonial-slider__item container-shadow">
        <svg class="avatar">
          <use xlink:href="/sprites/main-sprite.svg#avatarWooman1"></use>
        </svg>
        <span>Jennifer B</span
        >
        <p>Little Learners Academy has been a second home for my child. The caring staff and engaging programs have made her excited to go to school every day!</p>
      </div>
      <div class="slider__item testimonial-slider__item container-shadow">
        <svg class="avatar">
          <use xlink:href="/sprites/main-sprite.svg#avatarMan1"></use></svg
        >
        <span>David K</span>

        <p>Choosing Little Learners Academy for my daughter was the best decision. She has thrived in their nurturing and stimulating environment.</p>
      </div>
      <div class="slider__item testimonial-slider__item container-shadow">
        <svg class="avatar">
          <use xlink:href="/sprites/main-sprite.svg#avatarMan1"></use></svg
        >
        <span>Emily L</span>

        <p>My son's social and academic growth has been remarkable since joining Little Learners Academy. I am grateful for the supportive and dedicated teachers.</p>
      </div>
    </div>
    <button class="slider-button" name="sliderNext" title="slider next">
      <svg>
        <use xlink:href="/sprites/main-sprite.svg#arrowRight"></use>
      </svg>
    </button>
  </div>
</section>
