<footer class="container-shadow">
  <div class="footer-container">
    <div class="footer-contacts">
      <a href="#" class="footer-logo link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
        >
          <path
            d="M11.6667 19.9999L20 11.6666L28.3334 19.9999L20 28.3333L11.6667 19.9999Z"
            fill="var(--c-grey)"
          />
          <path d="M36.6667 9.99992V19.9999L20 3.33325H30L36.6667 9.99992Z" fill="var(--c-grey)" />
          <path d="M36.6667 29.9999V19.9999L20 36.6666H30L36.6667 29.9999Z" fill="var(--c-grey)" />
          <path d="M3.33337 29.9999V19.9999L20 36.6666H10L3.33337 29.9999Z" fill="var(--c-grey)" />
          <path
            d="M3.33337 9.99992V19.9999L20 3.33325H10L3.33337 9.99992Z"
            fill="var(--c-grey)"
          /></svg
        >Company Name</a
      >
      <p>
        We believe in the power of play to foster creativity, problem-solving skills, and
        imagination.
      </p>
      <ul class="footer-contacts__list">
        <li class="footer-contact__list-item">
          <svg class="icon">
            <use xlink:href="/sprites/main-sprite.svg#iconMail"></use>
          </svg>
          <a href="mailto:hello@littlelearners.com" class="link">hello@littlelearners.com</a>
        </li>
        <li class="footer-contact__list-item">
          <svg class="icon">
            <use xlink:href="/sprites/main-sprite.svg#iconPhone"></use>
          </svg>
          <a href="tel:+91 91813 23 2309" class="link">+91 91813 23 2309</a>
        </li>
        <li class="footer-contact__list-item">
          <svg class="icon">
            <use xlink:href="/sprites/main-sprite.svg#iconPin"></use>
          </svg>
          <p>Somewhere in the World</p>
        </li>
      </ul>
    </div>
    <nav class="footer-navigation">
      <menu class="footer-navigation__column">
        <h3 class="footer-navigation__title">Home</h3>
        <li class="footer-navigation__item"><a href="#" class="link">Features</a></li>
        <li class="footer-navigation__item"><a href="#" class="link">Our Testimonials</a></li>
        <li class="footer-navigation__item"><a href="#" class="link">FAQ</a></li>
      </menu>
      <menu class="footer-navigation__column">
        <h3 class="footer-navigation__title">About Us</h3>
        <li class="footer-navigation__item"><a href="#" class="link">Our Mission</a></li>
        <li class="footer-navigation__item"><a href="#" class="link">Our Vission</a></li>
        <li class="footer-navigation__item">
          <a href="#" class="link">Awards and Recognitions</a>
        </li>
        <li class="footer-navigation__item"><a href="#" class="link">History</a></li>
        <li class="footer-navigation__item"><a href="#" class="link">Teachers</a></li>
      </menu>
      <menu class="footer-navigation__column">
        <h3 class="footer-navigation__title">Academics</h3>
        <li class="footer-navigation__item"><a href="#" class="link">Special Features</a></li>
        <li class="footer-navigation__item"><a href="#" class="link">Gallery</a></li>
      </menu>
      <menu class="footer-navigation__column">
        <h3 class="footer-navigation__title">Contact Us</h3>
        <li class="footer-navigation__item"><a href="#" class="link">Information</a></li>
        <li class="footer-navigation__item"><a href="#" class="link">Map & Direction</a></li>
      </menu>
    </nav>
  </div>

  <nav class="footer-social__container">
    <menu class="footer-policy">
      <li><a href="#" class="link">Terms of Service</a></li>
      <li><a href="#" class="link">Privacy Policy</a></li>
      <li><a href="#" class="link">Cookie Policy</a></li>
    </menu>

    <menu class="footer-social__list">
      <li class="footer-social__list-item">
        <a href="#" title="facebook">
          <svg class="icon">
            <use xlink:href="/sprites/main-sprite.svg#iconFacebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social__list-item">
        <a href="#" title="twitter">
          <svg class="icon">
            <use xlink:href="/sprites/main-sprite.svg#iconTwitter"></use></svg
        ></a>
      </li>
      <li class="footer-social__list-item">
        <a href="#" title="linkedin">
          <svg class="icon">
            <use xlink:href="/sprites/main-sprite.svg#iconLinkedin"></use></svg
        ></a>
      </li>
    </menu>
  </nav>

  <p class="footer-copyright">Copyright © [2023] Little Learners Academy. All rights reserved.</p>
</footer>
